@using TimeSheetMobileWeb.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>  
    <title>@SiteResources.HomeShortTitle</title>
   
   
    <script type="text/javascript">
        $(document).ready(function () {
            TSM.initPreloader('hide');
            $('.menu-link').bind('click', function () {
                $.mobile.loadingMessage = '';
                TSM.initPreloader('show');
                window.location.href = $(this).attr('data-action');
            });
        })
    </script>
</head>

<body class="tms time-details">
        <div class='container'>
        <div class="home-bg">

		<a href="#"   onclick='GotoUrl("@Url.Action("TimesheetHistory", "Timesheet")")'><i></i><em></em><span class="icon-timesheet" ></span><strong>
        @SiteResources.HomeMenuTimesheets</strong></a>
		<a href="#"   onclick='GotoUrl("@Url.Action("Index", "Tasks")")'><i></i><em></em><span class="icon-tasks"></span><strong>@SiteResources.HomeMenuTasks</strong></a>
		<a href="#"   onclick='GotoUrl("@Url.Action("MyApprovals", "Timesheet")")'><i></i><em></em><span class="icon-approvals"></span><strong>@SiteResources.MyApprovals</strong></a>
	</div>
        </div>
        
        
   
</body>
</html>
