@model TimeSheetMobileWeb.Models.TimesheetApprovalView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness


 <form id="approvalform" action = '@Url.Action("ApproveSelectedTasks", "Tasks")' data-ajax-url='@Url.Action("ApproveSelectedTasks", "Tasks")'  data-ajax-oncomplete='TSM_ConfirmApproveTimesheet' data-ajax="false">

        <a href="#" class="btn approve tskbtns ui-disabled" onclick="ApproveSelectedTasks('approve');" >Approve</a>
			<a href="#" class="btn reject tskbtns ui-disabled" onclick= "ApproveSelectedTasks('reject');">Reject</a>
            @Html.HiddenFor(mbox=>mbox.TSUID)
            @Html.HiddenFor(mbox => mbox.MGRUID)
            @Html.HiddenFor(mbox => mbox.ErrorMessage)
            @Html.HiddenFor(mbox => mbox.Success)
            </form>
