@model TimeSheetMobileWeb.Models.TaskSelectionView
@using TimeSheetMobileWeb.Models
@{var h = Html.CrossHelper(new RowSelectionInfosView());}

<div id='taskselection'  data-title="@Model.Title">
<div id="timesheet-display" class="modal" style="display: block;">
        <a href="#" class="pull-right close" data-role="dismiss" data-target="#timesheet-display">
            close</a>
        <div class="modal-content">
    <h3>@Model.Title
			<span class='currenttimesheet'>@Model.Period</span>
		</h3>

    
    <form id="rowRequest"  data-ajax-url='@Url.Action("RowSingleValues", (Model.IsInTask ? "Tasks" : "Timesheet"))' 
         data-ajax-oncomplete='TSM_CompleteAddRow' data-duplicate-message='@SiteResources.DuplicateTask' data-button-target="@h.PrefixedId(m => m.RequiredAssignementName)">
        
         <h4>@SiteResources.WorkTimeProject </h4>
         <label>
         <select id  ="RequiredProgectId" class="updatetasks" data-action='@Url.Action("ProjectTasks", "Tasks")' 
         data-ajax-oncomplete='TSM_CompleteAddRow' data-duplicate-message='@SiteResources.DuplicateTask' data-button-target="@h.PrefixedId(m => m.RequiredAssignementName)">
         <option name="" value="" >@SiteResources.ProjectPrompt</option>
         @foreach (var project in Model.Projects)
         {
			<option name="@project.Name" value="@project.Id" >@project.Name</option>
         }
         </select>
		</label>
        
        @if (!Model.IsProjectlineType)
        {
            <h3>@SiteResources.WorkTimeAssignement</h3>
            <label id='assignmentsContainer'>
            <select id="assignments" class="dynamictasks" 
            ><option value='' name=''>@SiteResources.AssignementPrompt</option></select>
            </label>
        }
        else
        {
             <h3>@SiteResources.WorkTimeAssignement</h3>
            <label>
            <select id="assignments" class="dynamictasks" 
             ><option value='' name=''>@SiteResources.AssignementPrompt</option></select>
            </label>
        }

        @if (!Model.IsInTask)
        {
            <h3>@SiteResources.LineClassification</h3>
            <label>
            <select id = "RequiredLineClassId" class="updatelineclass">
            @foreach(var value in Model.LineClasses)
            {
                <option name="@value.Name" value = "@value.Id">@value.Name</option>
            }
            </select>
            </label>
        }
        @h.HiddenFor(m => m.RequiredPeriodId, new { @class = "currentperiodid" })
        @h.HiddenFor(m => m.RequiredLineClassId, new { @class = "currentlineclassid" })
        @h.HiddenFor(m => m.RequiredLineClassName, new { @class = "currentlineclassname" })
        @h.HiddenFor(m => m.RequiredPeriodIStart, new { @class = "currentperiodstart" })
        @h.HiddenFor(m => m.RequiredPeriodIStop, new { @class = "currentperiodstop" })
        @h.HiddenFor(m => m.RequiredRowType, new { @class = "currentrowtype" })
        @h.HiddenFor(m => m.RequiredAssignementName, new { @class = "currentassname" })
        @h.HiddenFor(m => m.RequiredAssignementId, new { @class = "currentassid" })
        @h.HiddenFor(m => m.RequiredProjectName, new { @class = "currentprojname" })
        </form>
        
        @if (Model != null && Model.RowTypes != null && Model.RowTypes.Length > 0)
        {
            <div data-role='content' >
               @* @if (!Model.IsProjectlineType)
                {*@
                <p class="buttons-container">
                    @foreach (RowType rt in Model.RowTypes)
                    {
                        <a disabled='disabled' id="@("btn_sel" + rt)" href="#" data-role="dismiss" data-target="#taskselection" class="btn save confirm rowlist" data-button-selection="@rt.Code" data-button-target='taskselection'>
                        @rt.DisplayValue</a>
                
                    }
                    <a id="btnCancelTask" href="#" data-role="dismiss" data-target="#taskselection" class="btn cancel" data-button-target='taskselection' >@SiteResources.Cancel</a>
                </p>
               @* }*@
                @if (Model != null && !Model.IsInTask && Model.Admin != null)
                {
                       <p class="adminRows" style="display:none">
                       <a disabled='disabled' id="btnConfirmTaskA" href="#" data-role="dismiss" data-target="#taskselection" class="btn save confirm rowlist"  data-button-selection="@Model.Admin.Code">
                       @SiteResources.AddTaskConfirmed</a>
                        <a id="btnCancelTask" href="#" data-role="dismiss" data-target="#taskselection" class="btn cancel"  >@SiteResources.Cancel</a>
                       </p>
                }
            
            </div>
        }
        </div>
    </div>
</div>
