@using MVCControlsToolkit.Controls
@using MVCControlsToolkit.Core

@model TimeSheetMobileWeb.Models.TimeSheetView
    <td class="editor-label gridcelllink" onclick='$.mobile.showPageLoadingMsg(); window.location.href="@Url.Action(
    "Index",
"Timesheet", new { speriod = @Model.Period.Replace("(","-").Replace(")","-") }, "http")";'>
     
                                            @Model.Period
                                            
      

    </td>
    <td class="editor-label gridcell">
        @Html.DisplayField(m => m.Status)
    </td>
    <td class="editor-label gridcell">
        @Html.DisplayField(m => m.Hours)
    </td>
