@model TimeSheetMobileWeb.Models.ViewSelectionView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness
<div  id='viewselection'>
    <div id="view-display" class="modal" style="display: block;">
     <a href="#" class="pull-right close" data-role="dismiss" data-target="#timesheet-display">
            close</a>

         <div class="modal-content">
         <h3>@SiteResources.ChangeViewTitle
		</h3>

                @if (!Model.IsTask)
                {
                    <label for='@Html.PrefixedId(m => m.TimesheetViewId)'><strong>@SiteResources.RowViewLabel</strong></label>
                    <label>
                    <select id="@Model.TimesheetViewId" class="updaterowview">
                    @foreach (var value in ViewConfigurationRow.All)
                    {
                        <option value='@value.Id'>@value.Name</option>
                    }
                    </select>
                        </label>
                    <script type="text/javascript">
                        var _rowViewDescriptions_ = {};
                        @foreach (var x in ViewConfigurationRow.All)
                        {
                            <text>_rowViewDescriptions_['@x.Id']='@x.Description';</text>
                        }
                    </script>
                    <p class="description rowViewDescription"></p>
                }
                else
                {
                      <label for='@Html.PrefixedId(m => m.TaskUpdatorViewId)'><strong>@SiteResources.TaskViewLabel</strong></label>
                    <label>
                    <select id="@Model.TaskUpdatorViewId">
                      @foreach (var value in ViewConfigurationTask.All)
                      {
                        <option value='@value.Id'>@value.Name</option>
                      }
                    </select>
                        </label>
                        <script type="text/javascript">
                        var _taskViewDescriptions_ = {};
                        @foreach (var x in ViewConfigurationTask.All)
                        {
                            <text>_taskViewDescriptions_['@x.Id']='@x.Description';</text>
                        }
                    </script>
                        <p class="description taskViewDescription"></p>
                }
                        
                @if (Model.IsTask)
                {
                    <p><strong><span >@SiteResources.CurrentTaskView</span></strong></p><p class="maincontent"><strong><span class="currenttaskview"></span></strong></p>
                    <p class="description taskViewDescription-o"></p>
                }
                else
                {
                    <p><strong><span >@SiteResources.CurrentRowView</span></strong></p><p class="maincontent"><strong><span class="currentrowview"></span></strong></p>
                    <p class="description rowViewDescription-o"></p>
                }
                    <form id="periodform" action = '@Url.Action("Index", (Model.IsTask ? "Tasks" : "Timesheet"))'
                     data-ajax-url='@Url.Action("Refresh", (Model.IsTask ? "Tasks" : "Timesheet"))' data-ajax-target='allTimesheetsEdit' 
                                            data-ajax-oncomplete='TSM_ConfirmPeriodCallBack' data-ajax="false">

                    <input id="btnConfirmView" data-role="dismiss" data-callback="TSM_ConfirmView" type="button" value="@SiteResources.ChangeViewDone" class='main-submit btn save' 
                     data-target="#viewselection"/>
                    <input id="btnCancelView" data-role="dismiss" data-target="#viewselection" type="button" value="@SiteResources.Cancel" class='main-submit btn cancel'  data-button-target='viewselection' />
                    </form>
                </div>
        </div>
       
    </div>
