@model TimeSheetMobileWeb.Models.UpdateTimesheetsView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness
@{
    ViewBag.Title = SiteResources.HomeMenuTimesheet;
}
@section head{
<script src="@Url.Content("~/Scripts/TimesheetsScript-1.0.js")" type="text/javascript"></script>
}

<div data-role='page' data-theme='a' id='timesheet' data-title="@SiteResources.HomeMenuTimesheet" data-leave-application='@SiteResources.LeaveApplication' class = 'ajaxLoader'>
    <div data-role='header'class='wrapper updatemainlayout' data-theme='a' data-position='fixed'>
        <div>
            <div class='header' >
                <div class='leaveApplication' data-button-target="@Url.Action("Index", "Home")" ></div>
                <h2>@SiteResources.HomeMenuTimesheet</h2>
            </div>
            <div data-role='content' data-theme='b' class='periodHeader'><span class='currenttimesheet'>period of time</span>
                &nbsp;<a href="#" class='goto' data-button-target='periodselection'>@SiteResources.ChangePeriod</a>
                
            </div>
                
                <div class="ui-grid-d">
                    <div class="ui-block-a" ><input id="btnAdd" type="button" value="" class='main-icon-submit main-icon-add goto' data-button-target='taskselection' data-button-selection="@Model.RowTypes[0].Code"/></div>
                    <div class="ui-block-b" ><input id="Button1" type="button" value="" class='main-icon-submit main-icon-save submit csubmit-mainform submit-mainform' data-action-confirm ="@SiteResources.ConfirmSave"
                        data-action-value='False' data-action-container='@Html.PrefixedId(m => m.Submit)'/></div>
                    <div class="ui-block-c" ><input id="Button2" type="button" value="" class='main-icon-submit main-icon-send submit fsubmit-mainform submit-mainform' data-action-confirm ="@SiteResources.ConfirmSubmit"
                        data-action-value='True' data-action-container='@Html.PrefixedId(m => m.Submit)'/></div>
                    <div class="ui-block-d" ><input  type="button" class='main-icon-submit main-icon-view goto' data-button-target='viewselection'/></div>
                    <div class="ui-block-e" ><input id='btnRecallDelete'  type="button" class='main-icon-submit main-icon-delete goto' data-button-target='recalldelete'/></div>
            </div>
            <div class='maininfo'>
                <div class ='maininfoheader' data-role='content' data-theme='a'>
                    @if (ViewConfigurationRow.Default.ActualWorkA)
                    {
                        @(ViewConfigurationRow.Default.ActualWorkA_Name+":")
                        <span id='@(UpdateViewBase.GetRowType(typeof(ActualWorkRow)).Code+"_header")' class='combinedValue'></span>
                                                                           
                                                                           
                    }
                    &nbsp;
                    @if (ViewConfigurationRow.Default.ActualOvertimeWorkA)
                    {
                        @(ViewConfigurationRow.Default.ActualOvertimeWorkA_Name+":")
                        <span id='@(UpdateViewBase.GetRowType(typeof(ActualOvertimeWorkRow)).Code+"_header")' class='combinedValue'></span>
                                                                                                                                  
                    }
                    &nbsp;
                    @if (ViewConfigurationRow.Default.ActualNonBillableWorkA)
                    {
                        @(ViewConfigurationRow.Default.ActualNonBillableWorkA_Name+":")
                        <span id='@(UpdateViewBase.GetRowType(typeof(NonBillableActualWorkRow)).Code + "_header")' class='combinedValue'></span>
                                                                                                                                  
                    }
                    &nbsp;
                     @if (ViewConfigurationRow.Default.ActualNonBillableOvertimeWorkA)
                    {
                        @(ViewConfigurationRow.Default.ActualNonBillableOvertimeWorkA_Name+":")
                        <span id='@(UpdateViewBase.GetRowType(typeof(NonBillableOvertimeWorkRow)).Code + "_header")' class='combinedValue'></span>
                                                                           
                                                                           
                    }
                </div>
            </div>
        </div>   
    </div>
    <div data-role='content' class='wrapper' data-theme='a'>     
        <div>
            <div class='maininfo'>
                <div class='maininfocontent allrowsContainer' data-role='content' data-theme='c' id='allTimesheetsEdit'>
                @if (Model != null && Model.Period != null)
                {
                    @Html.Partial("Edit", Model)
                }
    
                </div>
            </div>
        </div>
    </div>
    <div data-role='footer' data-position='fixed' class='wrapper updatemainlayout' data-theme='a'>
        <div>
            <div class='footer-dynamic' >
                <hr />
            </div> 
        </div>
    </div>

</div>
@Html.Action("TaskSelection", "Timesheet");
@Html.Partial("PeriodSelection", new ViewDataDictionary<PeriodSelectionView>(Model.PeriodSelectionInfos));
@Html.Partial("ViewSelection", new ViewDataDictionary<ViewSelectionView>(
    new ViewSelectionView {TaskUpdatorViewId=ViewConfigurationTask.Default.Id,  TimesheetViewId=ViewConfigurationRow.Default.Id}));
@Html.Action("RecallDelete", "Timesheet");
@Html.Partial("UpdateSummary")
@Html.Partial("Detail", new ViewDataDictionary<BaseRowView>(new BaseRowView { TaskRow = false, Title = SiteResources.HomeMenuTimesheetDetail, PeriodLength = Model.PeriodLength })))
@if (Model != null && Model.RowTypes != null && Model.RowTypes.Length > 1)
{
    @Html.Partial("RowChoice", new ViewDataDictionary<RowType[]>(Model.RowTypes))
}
@Html.Partial("TimeInput", new ViewDataDictionary<TimeInputView>())
