@model TimeSheetMobileWeb.Models.UpdateTimesheetsView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness
@{
    ViewBag.Title = SiteResources.HomeMenuTimesheet;
}
@section head{
<script src="@Url.Content("~/Scripts/TimesheetsScript-1.0.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $.mobile.hidePageLoadingMsg();

    })
    </script>
}

<div data-role='page' data-theme='a' id='timesheet' data-title="@SiteResources.HomeMenuTimesheet" data-leave-application='@SiteResources.LeaveApplication' class = 'ajaxLoader'>
    <div data-role='header'class='wrapper updatemainlayout' data-theme='a' data-position='fixed'>
        <div>
            <div class='header' >
                <div class='leaveApplication' data-button-target="@Url.Action("Index", "Home")" ></div>
                <h2><span>Status:</span><span class="currstatus-d">@Model.Status ,</span>&nbsp;
                <span>Total</span><span>:</span><span id='allTotal' class='combinedValue'>@Math.Round(Model.Totals.Sum(), 2)</span> </h2>
            </div>
         
                                           
            <div data-role='content' data-theme='b' class='periodHeader'><b><span id="indexPeriod" class='currenttimesheet'>@Model.PeriodString</span>
           </b>
           <input id="btnCalendar" type="button" value="" class='ui-calendar' onclick= '$.mobile.showPageLoadingMsg()window.location.href="@Url.Action("TimesheetHistory", "Timesheet")";'/>
                
                <input id  = 'periodid' type = "hidden" value = '@Model.Period' />
            </div>
                
             

            @if (Model.ApprovalMode)
            {
                
                <div class="ui-grid-d">
                    <div class="ui-block-a" >
                    <input id="btnApprove" type="button" value="" class='main-icon-submit main-icon-approve fsubmit-mainform submit-mainform'  data-button-selection="@Model.RowTypes[0].Code"/>
                    </div>
                    <div class="ui-block-b" >
                    <input id="btnReject" type="button" value="" class='main-icon-submit main-icon-reject fsubmit-mainform submit-mainform' data-button-selection="@Model.RowTypes[0].Code"/>
                    </div>
                 <div class="ui-block-a" >
                 <input id="btnAdd" type="button" value="" class='main-icon-submit main-icon-add goto' data-button-target='taskselection' data-button-selection="@Model.RowTypes[0].Code"/>
                 </div>
                    <div class="ui-block-b" >
                    <input id="Button1" type="button" value="" class='main-icon-submit main-icon-save submit csubmit-mainform submit-mainform' data-action-confirm ="@SiteResources.ConfirmSave"

                        data-action-value='False' data-action-container='@Html.PrefixedId(m => m.Submit)'/>
                   </div>
            </div>
            }
            else
            {
               <div class="ui-grid-d">
                    <div class="ui-block-a" ><input id="btnAdd" type="button" value="" class='main-icon-submit main-icon-add goto' data-button-target='taskselection' data-button-selection="@Model.RowTypes[0].Code"/></div>
                    <div class="ui-block-b" ><input id="Button1" type="button" value="" class='main-icon-submit main-icon-save submit csubmit-mainform submit-mainform' data-action-confirm ="@SiteResources.ConfirmSave"
                        data-action-value='False' data-action-container='@Html.PrefixedId(m => m.Submit)'/></div>
                    <div class="ui-block-c" ><input id="Button2" type="button" value="" class='main-icon-submit main-icon-send submit fsubmit-mainform submit-mainform' data-action-confirm ="@SiteResources.ConfirmSubmit"
                        data-action-value='True' data-action-container='@Html.PrefixedId(m => m.Submit)'/></div>
                    
                    <div class="ui-block-e" ><input id='btnRecallDelete'  type="button" class='main-icon-submit main-icon-delete goto' data-button-target='recalldelete'/></div>
            </div>
            }

            <div class='maininfo'>
                <div class ='maininfoheader' data-role='content' data-theme='a'>
                    @if (Model.Totals != null)
                    {
                        int i = 0;

                        foreach (var value in Model.Totals)
                        {
                            <span class='combinedValue'>@Model.CurrentPeriodStart.AddDays(i).DayOfWeek.ToString().Substring(0, 3)</span> <span>:</span>
                            <span class='combinedValue grandtotals' id = '@string.Format("DayTimes_Total_{0}", i)'>@Math.Round(value, 2)</span> <text>&nbsp;</text>
                            i++;

                        }


                    }
                        
                </div>
            </div>
               <form id="periodform" action = '@Url.Action("Index", "Timesheet")' 
                     data-ajax-url='@Url.Action("Refresh", "Timesheet")' data-ajax-target='allTimesheetsEdit' 
                                            data-ajax-oncomplete='TSM_ConfirmPeriodCallBack' data-ajax="false">
                                           @*<input id="SelectedPeriod" name="SelectedPeriod"  class = 'currentperiodstop' type="hidden" value='@string.Format("({0} -{1})", Model.CurrentPeriodStart.ToShortDateString(), Model.CurrentPeriodStop.ToShortDateString())'/>*@
             </form>
        </div>   
    </div>
    <div data-role='content' class='wrapper' data-theme='a'>     
        <div>
            <div class='maininfo'>
                <div class='maininfocontent allrowsContainer' data-role='content' data-theme='c' id='allTimesheetsEdit'>
                  @Html.Partial("Edit", Model)
                  <input type = "hidden" id="periodstart" value = '@Model.CurrentPeriodStart' />
                  <input type = "hidden" id="periodend" value = '@Model.CurrentPeriodStop' />
    
                </div>
            </div>
        </div>
         
    </div>
    <div data-role='footer' data-position='fixed' class='wrapper updatemainlayout' data-theme='a'>
        <div>
            <div class='footer-dynamic' >
                <hr />
            </div> 
        </div>
    </div>
     
</div>
@Html.Action("TaskSelection", "Timesheet");
@Html.Partial("ViewSelection", new ViewDataDictionary<ViewSelectionView>(
    new ViewSelectionView { TaskUpdatorViewId = ViewConfigurationTask.Default.Id, TimesheetViewId = ViewConfigurationRow.Default.Id }));
@Html.Action("RecallDelete", "Timesheet");
@Html.Partial("UpdateSummary")
@Html.Partial("Detail", new ViewDataDictionary<BaseRowView>(new BaseRowView { TaskRow = false, Title = SiteResources.HomeMenuTimesheetDetail, PeriodLength = Model.PeriodLength })))

    @Html.Partial("RowChoice", new ViewDataDictionary<RowType[]>(Model.RowTypes))

@Html.Partial("TimeInput", new ViewDataDictionary<TimeInputView>())
