@model TimeSheetMobileWeb.Models.TimeSheetHistoryView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness
@{
    ViewBag.Title = SiteResources.HomeMenuTimesheet;
}
@section head{
   @* <script type="text/javascript" src="@Url.Content("~/Scripts/MVCControlToolkit.Controls.Grid-1.8.0.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/MVCControlToolkit.Controls.Grid-1.8.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TimesheetsScript-1.0.js")" type="text/javascript"></script> 
    <script type="text/javascript">
        $(document).ready(function () {
            $.mobile.hidePageLoadingMsg();

        })
    </script>

<link  href="@Url.Content("~/Content/TSGrid.css")" rel="stylesheet" type="text/css"/>
}
<div data-role='page' data-theme='a' id='timesheet' data-title="@SiteResources.HomeMenuTimesheets" data-leave-application='@SiteResources.LeaveApplication' class = 'ajaxLoader'>
    <div data-role='header' class='wrapper updatemainlayout' data-theme='a' data-position='fixed'>
        <div>
            <div class='header'>
                <div class='leaveApplication' data-button-target="@Url.Action("Index", "Home")" >
                </div>
                <h2>@SiteResources.HomeMenuTimesheets</h2>
            </div>
            <div data-role='content' data-theme='b' class='periodHeader'>
              
            </div>
            </div>
            </div>
            <div id ="perioddropdown" data-role='content' class='wrapper' data-theme='a'>  
            @Html.DropDownListFor(m => m.PeriodSelectionInfos.TimesheetSet,
                                           new Dictionary<string, object> 
                                           { { "class", "mobilegadget updatetimesheets" }, 
                                           { "data-native-menu", "false" },
                                           {"data-action", Url.Action("Timesheets", "Timesheet")}},
                    ChoiceListHelper.Create(
                                          Model.PeriodSelectionInfos.AllTimesheetsSets,
                        m => m.Key,
                        m => m.Value,
                        usePrompt: false)) 
                        <span id="indexPeriod" class='currenttimesheet'>@Model.PeriodString</span>
                
                <input id  = 'periodid' type = "hidden" value = '@Model.Period' />
                         <form id="periodform" action = '@Url.Action("TimesheetHistory", "Timesheet")' 
                    data-ajax-url='@Url.Action("TimesheetHistoryRefresh", "Timesheet")' data-ajax-target='allTimesheetsEdit' 
                                             data-ajax="false">
                        <input id="SelectedPeriodStart" name="SelectedPeriodStart" class = 'currentperiodstart' type="hidden" />
                        <input id="SelectedPeriodStop" name="SelectedPeriodStop"  class = 'currentperiodstop' type="hidden" />
                        <input id="SelectedPeriodId" name="SelectedPeriodId" class = 'currentperiodid' type="hidden" />
                        <input id="SelectedPeriodSet" name="SelectedPeriodSet" class = 'currentperiodSet' type="hidden" />
                    </form>  
        <div>
            <div class='maininfo'>
               
                <div class='maininfocontent allrowsContainer' data-role='content' data-theme='c' id='allTimesheetsEdit'>
                    @Html.Partial("TSGridTemplate", Model)
                </div>
                
            </div>
        </div>
        </div>
         <div data-role='footer' data-position='fixed' class='wrapper updatemainlayout' data-theme='a'>
        <div>
            <div class='footer-dynamic' >
                <hr />
            </div> 
        </div>
    </div>
        
        
    
</div>
