@model TimeSheetMobileWeb.Models.UpdateTimesheetsView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness
<div  id="updatesummary">
<div id="timesheet-display" class="modal" style="display: block;">
        <a href="#" class="pull-right close" data-role="dismiss" data-target="#timesheet-display">
            close</a>
        <div class="modal-content">
        
        <div data-role='content' class='content' data-theme='a' >
            <div data-theme='b' style="min-height:100px;">
               
                        <p><span class=' updateerrormessage-d'></span></p>
                        <p>
                         <span class=''>@SiteResources.TimesheetNameLabel</span><span class='currname-d'></span><br />
                         <span class=''>@SiteResources.TimesheetStatusLabel</span><span class='currstatus-d'></span><br />
                         <span class=''>@SiteResources.TotalActualWorkLabel</span><span class='currtotalact-d' data-format="@Html.ClientFormatting(m => m.HeaderInfos.TotalActualWork)"></span><br />
                         <span class=''>@SiteResources.TotalOvertimeWorkLabel</span><span class='currtotalovertime-d' data-format="@Html.ClientFormatting(m => m.HeaderInfos.TotalOverTimeWork)"></span><br />
                         <span class=''>@SiteResources.TotalNonBillableLabel</span><span class='currtotalnonbill-d' data-format="@Html.ClientFormatting(m => m.HeaderInfos.TotalNonBillable)"></span><br />
                         <span class=''>@SiteResources.TotalOvertimeNonBillableLabel</span><span class='currtotalovertimenonbill-d' data-format="@Html.ClientFormatting(m => m.HeaderInfos.TotalNonBillableOvertime)"></span><br />
                         <span class=''>@SiteResources.TimesheetCommentsLabel</span><span class='currcomments-d'></span>
                        </p>

                
            </div>
            <p class="buttons-container">
            <input id="btnDone" type="button" value="@SiteResources.OK" class='main-submit cancel btn' data-role="dismiss" data-target='#updatesummary' 
            data-callback='reload' />  
            </p> 
        </div>
    </div>
</div>
<div class='footer'>
    </div>
</div>
