@model TimeSheetMobileWeb.Models.UpdateTasksView
@using TimeSheetMobileWeb.Models
@using TimeSheetIBusiness
@{
    ViewBag.Title = SiteResources.HomeMenuTasks;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<script src="@Url.Content("~/Scripts/TasksScripts-1.0.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.mobile.hidePageLoadingMsg();
    });
    </script>
}
<div  id='tasks' class='container timesheetContainer'>
 <h1>@SiteResources.HomeMenuTasks
	<span class="pull-right">@Context.Session["CurrentUser"].ToString()</span>
	</h1>
    <div class="date-container">

    <span>
			<ul>
				<li class="icon-show-list" data-role="modal" data-target="#recallDelete">List</li>
			</ul>
		</span>
        </div>
   
    <div class="details-content">
        <div class="listing">
                <div class='maininfocontent allrowsContainer'  id="allTimesheetsEdit">
                @if (Model != null && Model.PeriodRows != null)
                {
                    @Html.Partial("Edit", Model)
                }
    
                </div>
            </div>
        </div>
    </div>
     <footer>
	<ul>
		<li><a href='#' onclick='GotoUrl("@Url.Action("Index", "Home")")' class="icon-footer-home"></a>@SiteResources.Home</li>
		<li><a href="" class="main-icon-submit main-icon-save submit csubmit-mainform submit-mainform icon-footer-save" data-action-confirm ="@SiteResources.ConfirmSave"
                        data-action-value='False' data-action-container='@Html.PrefixedId(m => m.Submit)'></a>@SiteResources.Save</li>
		<li><a href="" class="main-icon-submit main-icon-send submit fsubmit-mainform submit-mainform icon-footer-submit" data-action-confirm ="@SiteResources.ConfirmSubmit"
                        data-action-value='True' data-action-container='@Html.PrefixedId(m => m.Submit)'></a>@SiteResources.Submit</li>
	</ul>
</footer>  
<div id="taskSelection" style="display:none">
@Html.Action("TaskSelection", "Tasks");
</div>
<div id="viewSelection" style="display:none">
@Html.Partial("ViewSelection", new ViewDataDictionary<ViewSelectionView>(
    new ViewSelectionView {TaskUpdatorViewId=ViewConfigurationTask.Default.Id,  TimesheetViewId=ViewConfigurationRow.Default.Id, IsTask=true}));
    </div>
    <div id="recallDelete" style="display:none">
@Html.Action("RecallDelete", "Tasks")
</div>
    <div id="updaterecallsummary" style="display:none">
@Html.Partial("UpdateSummary")
</div>
<div id="detail" style="display:none">
@Html.Partial("Detail", new ViewDataDictionary<BaseRowView>(new BaseRowView {TaskRow=true, Title = SiteResources.HomeMenuTaskDetail, PeriodLength=Model.PeriodLength }))
</div>
<div id="rowChoice" style="display:none">
@if (Model != null && Model.RowTypes != null && Model.RowTypes.Length > 1)
{
    @Html.Partial("RowChoice", new ViewDataDictionary<RowType[]>(Model.RowTypes))
}
</div>
<div id="timeInput" style="display:none">
@Html.Partial("TimeInput", new ViewDataDictionary<TimeInputView>())
</div>
<script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>


