@using TimeSheetMobileWeb.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>  
    <title>@SiteResources.HomeShortTitle</title>
   

    <script type="text/javascript">
        $(document).ready(function () {
            $.mobile.hidePageLoadingMsg();

            $('.menu-link').click(function () {
                $.mobile.loadingMessage = '@SiteResources.InitialLoadingMessage';
                $.mobile.loadingMessageTheme = 'a';
                $.mobile.loadingMessageTextVisible = true;
                $.mobile.showPageLoadingMsg();
                window.location.href = $(this).attr('data-action');
            });
        })
    </script>
</head>

<body class="tms time-details">
        <div class='container'>
        <div class="home-bg">
		<a href="#" data-role="modal" class='menu-link' data-action='@Url.Action("TimesheetHistory", "Timesheet")'><span class="icon-timesheet"></span>@SiteResources.HomeMenuTimesheet</a>
		<a href="#" data-role="modal" class='menu-link' data-action='@Url.Action("Index", "Tasks")'><span class="icon-tasks"></span>@SiteResources.HomeMenuTasks</a>
		<a href="#" data-role="modal" class='menu-link' data-action='@Url.Action("MyApprovals", "Timesheet")'><span class="icon-approvals"></span>@SiteResources.MyApprovals</a>
	</div>
        </div>
        
        
   
</body>
</html>
